<nav class="home-nav">
  <div class="banner">
    <div class="logo">
      <div class="clock-container">
        <div class="clock-inside">
          <div class="minutes-logo"></div>
          <div class="hours-logo"></div>
        </div>
      </div>
    </div>
    <div class="page-title">Check clock</div>
  </div>
  <div class="navigation-home">
    <%= link_to "Check Page", "/" %>
  </div>
</nav>

<main class="login-main">
  <div class="form-container">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-row">
        <p class="form-title">Administrator LogIn</p>
      </div>
      <div class="form-row input">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Type your email here" %>
      </div>

      <div class="form-row input">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Type your password here" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-row check">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="form-row">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

  </div>
</main>

<%= javascript_pack_tag 'analogic' %>