<main class="crud-main">
  <%= render 'sidebar.erb' %>
  <section class="crud-section">
    <header>
      <p class="page-title">Branch offices</p>
      <button id="btnShowCreate">New Branch Office</button>
      <%# <%= link_to 'New Branch Office', new_branch_path %>
    </header>

    <div class="table-container"> 
      <div class="table">
        <div class="table-head">
          <div>id</div>
          <div>branch name</div>
          <div>branch address</div>
          <div>actions</div>
        </div>

        <div class="table-content">
          <% @branches.each do |branch| %>

          <div><%= branch.id %></div>
          <div><%= branch.name %></div>
          <div><%= branch.address %></div>
          <div class="crud-actions">
            <button class="buttonShow" id=<%= branch.id %>>Review and Change</button>
            <% counter = 0 %>
            <% @employees.each do |employee| %>
              <%if employee.branch_id == branch.id %>
                <% counter+= 1 %>
              <% end %>
            <% end %>
            <%if counter > 0 %>
              <%= link_to 'Destroy', branch, method: :delete, data: {confirm_swal: 'Conflicts with foreign keys', text: 'Remove all employees associated with this branch office', icon: "warning", iconColor: "#FF0000", confirmButtonText: "Continue", action: "false", showCancelButton: "false"} %>
            <% else %>
              <%= link_to 'Destroy', branch, method: :delete, data: {confirm_swal: 'Are you sure?', text: 'This is permanently', icon: "warning", iconColor: "#FFC54A", confirmButtonText: "Yes, I want to delete it", action: "true" }%>
            <% end %>
          </div>          
          <% end %>
        </div>

      </div>
    </div>
  </section>
  <aside id="aside-info" class="aside-info">
      <div class="header-branch-info">
        <p id="title-branch">Branch #1</p>
        <i class="fas fa-times" id="close-aside"></i>
      </div>
      <hr />
      <div class="text-field-info">
        <label for="name">Branch name: </label>
        <input type="text" id="name" disabled>
      </div>
      <div class="text-field-info">
        <label for="name">Branch address: </label>
        <input type="text" id="address" disabled>
      </div>
      <div id="form-edit-actions">
        <button id="btnEnabled">Editar</button>
      </div>
  </aside>
  <aside id="aside-create" class="aside-info">
      <div class="header-branch-info">
        <p id="title-branch">Create new branch</p>
        <i class="fas fa-times" id="close-aside-create"></i>
      </div>
      <hr />
      <div class="text-field-info">
        <label for="name">Branch name: </label>
        <input type="text" id="newName">
      </div>
      <div class="text-field-info">
        <label for="name">Branch address: </label>
        <input type="text" id="newAddress">
      </div>
      <div id="form-edit-actions">
        <button id="btnCreate">Save</button>
      </div>
  </aside>

</main>
<script src="https://kit.fontawesome.com/e753149fdd.js" crossorigin="anonymous"></script>
<%= javascript_pack_tag 'homepage' %>
<%= javascript_pack_tag 'analogic' %>
<%= javascript_pack_tag 'formEditShow' %>
<%= javascript_pack_tag 'formCreateBranch' %>