<center>
<h2 class = "reports-title">Attendance for today:
  <b><%= Time.now.strftime("%d/%m/%Y") %></b>
</h2>

<table class = "reports-table">
  <thead>
    <tr>
      <th>Employee:</th>
      <th>check in time:</th>
      <th>check out time:</th>
    </tr>
  </thead>

  <tbody>

    <% @attendancesToday.each do |attendance| %>
      <tr>
        <td class = "employee-col"><a href = " <%= "employees/#{attendance.employee.id}"%>"><%= attendance.employee.name%> </a></td>
        <td><%= attendance.datetime_in.strftime("%H:%M") %></td>
        <td><%= attendance.datetime_out.strftime("%H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
</center>

