<main class="report-att">
  <%= render 'sidebar.erb' %>
  <section class="section-main">
    <header>
      <p class="page-title">Check In/Out average</p>
      <a href="/dashboard">< Back</a>
    </header> 
    <div class="main">
      <center>
        <h2 class ="reports-title">Average check in/out time</h2>
        <table class = "reports-table">
          <thead>
            <tr>
              <th>Employee</th>
              <th>check in time</th>
              <th>check out time</th>
            </tr>
          </thead>

          <tbody>

            <% @EmployeeAvgs.each do |employeeTimes| %>
              <tr>
              <td class = "employee-col"><a href = " <%= "employees/#{employeeTimes[:employee_id]}"%>"><%= employeeTimes[:employeeName]%> </a></td>
                <td><%= employeeTimes[:checkInAvg] %></td>
                <td><%= employeeTimes[:checkOutAvg] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </center>
    </div>
  </section>
</main>